In [20]:
import pandas as pd
import numpy as np

### Construção Series e DataFrame

In [2]:
#Series
obj = pd.Series([4, 7, -5, 3])

#Data Frame
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
'year': [2000, 2001, 2002, 2001, 2002, 2003],
'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}

df = pd.DataFrame(data)

In [3]:
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [4]:
df

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2

### Slicing e indexação

In [18]:
#Slicing
print(df['state'][3:])

#indexação
print(df['year'].iloc[(2)])

3    Nevada
4    Nevada
5    Nevada
Name: state, dtype: object
2002

### Operações aritméticas e lógicas com Séries e DataFrame

In [21]:
#Series
obj2 = pd.Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])
print(obj2 * 2)
print(np.exp(obj2))

#DataFrame
df2 = df.copy()
print(df2*2)
print(df2.min())
print(df2.max())

d     8
b    14
a   -10
c     6
dtype: int64
d      54.598150
b    1096.633158
a       0.006738
c      20.085537
dtype: float64
          state  year  pop
0      OhioOhio  4000  3.0
1      OhioOhio  4002  3.4
2      OhioOhio  4004  7.2
3  NevadaNevada  4002  4.8
4  NevadaNevada  4004  5.8
5  NevadaNevada  4006  6.4
state    Nevada
year       2000
pop         1.5
dtype: object
state    Ohio
year     2003
pop       3.6
dtype: object

### Métodos de Preenchimento

In [34]:
df1 = pd.DataFrame(np.arange(12.).reshape((3, 4)),columns=list('abcd'))
df2 = pd.DataFrame(np.arange(20.).reshape((4, 5)),columns=list('abcde'))
print('='*30)
print(df1)
print(df2)
print('='*30)
df2.loc[1,'b'] = np.nan
print(df2)
print('='*30)
print('df1 + df2:')
print(df1 + df2)

==============================
     a    b     c     d
0  0.0  1.0   2.0   3.0
1  4.0  5.0   6.0   7.0
2  8.0  9.0  10.0  11.0
      a     b     c     d     e
0   0.0   1.0   2.0   3.0   4.0
1   5.0   6.0   7.0   8.0   9.0
2  10.0  11.0  12.0  13.0  14.0
3  15.0  16.0  17.0  18.0  19.0
==============================
      a     b     c     d     e
0   0.0   1.0   2.0   3.0   4.0
1   5.0   NaN   7.0   8.0   9.0
2  10.0  11.0  12.0  13.0  14.0
3  15.0  16.0  17.0  18.0  19.0
==============================
df1 + df2:
      a     b     c     d   e
0   0.0   2.0   4.0   6.0 NaN
1   9.0   NaN  13.0  15.0 NaN
2  18.0  20.0  22.0  24.0 NaN
3   NaN   NaN   NaN   NaN NaN

### Ordenação e Classificação

In [38]:
obj = pd.Series(range(4), index=['d', 'a', 'b', 'c'])
print(obj)
print('='*30)
print(obj.sort_index())


frame = pd.DataFrame(np.arange(8).reshape((2, 4)),index=['three', 'one'],columns=['d', 'a', 'b', 'c'])
print(frame)
print('='*30)
print(frame.sort_index())
frame.sort_index(axis=1)
print('='*30)
print(frame.sort_index(axis=1))

d    0
a    1
b    2
c    3
dtype: int64
==============================
a    1
b    2
c    3
d    0
dtype: int64
       d  a  b  c
three  0  1  2  3
one    4  5  6  7
==============================
       d  a  b  c
one    4  5  6  7
three  0  1  2  3
==============================
       a  b  c  d
three  1  2  3  0
one    5  6  7  4

### Funções estatísticas no pandas

In [40]:
df = pd.DataFrame([[1.4, np.nan], [7.1, -4.5],[np.nan, np.nan], [0.75, -1.3]],index=['a', 'b', 'c', 'd'],columns=['one', 'two'])
print(df)
print('='*30)
#Somando colunas:
print(df.sum())
print('='*30)
print(df.sum(axis='columns'))
#máximo
print('='*30)
print(df.max())
#mínimo
print('='*30)
print(df.min())

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3
==============================
one    9.25
two   -5.80
dtype: float64
==============================
a    1.40
b    2.60
c    0.00
d   -0.55
dtype: float64
==============================
one    7.1
two   -1.3
dtype: float64
==============================
one    0.75
two   -4.50
dtype: float64